body{
  background-color: #1E1E1E;
}

.auth_input::before {
  content: "";
  background-image: url(../public/image/flag_icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;

}
.facebook_btn::before{
  content: "";
  background-image: url(../public/image/icon_facebook.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;

}

.google_btn::before{
  content: "";
  background-image: url(../public/image/icon_google.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.icon:hover {
  fill: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  font-size: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  /* opacity: 0.4; */
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

