body{
  background-color: #1E1E1E;
}

.auth_input::before {
  content: "";
  background-image: url(../public/image/flag_icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;

}
.facebook_btn::before{
  content: "";
  background-image: url(../public/image/icon_facebook.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;

}

.google_btn::before{
  content: "";
  background-image: url(../public/image/icon_google.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.swiper-button-next,.swiper-button-prev{
display: none;
width: 48px;
height: 48px;
background-color: #fff;
}